/*here we go*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
  }

html {
    scroll-behavior: smooth;
}

/* b/w*/

.dark-theme{
    background-color:#18171c;
    color:#fff;
}

/*m*/
#icon {
    
    position: relative;
    height: 25px;
    margin-left: 95%;
    top: -8.5em;
}

/*log*/
#logoimg  {
    
    position: relative;
    height: 100px;
    top: -1em;
    margin-left: 5%;
}

/*tx*/
#textsubwe .prof {
    
    position: relative;
    top: 5em;
    margin-left: 10%;
}

#textsubwe .prof {
    text-decoration: none;
    color: var(--textWhite);
    font-size: 35px;
    font-weight: 700;
}

#textsubwe span  {
    color: #9ACD32;
}

/*head */
#header {
    
    width: 100%;
    height: 10vh;
}

.container {
    
    top: -5em;
    padding: 5px 5%;
    position: relative;
}

/*nav*/
nav {
   
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    flex: 1;
    text-align: right;
  }

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #000000;
    filter: invert(1); 
    mix-blend-mode: difference; 
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #9ACD32;
    position: absolute;
    left: 0;
    bottom: -6px;
}

/*vanishing*/
nav .fas {
    display: none;
}

/*m*/
  #mundi .container {
    display: flex;
    text-decoration: none;
    margin-top: -4em;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 5%;
}

#mundi img {
    height: 20px;
    margin: 10px;
    filter: invert(1); 
    mix-blend-mode: difference; 
}

#mundi P {
    margin-right: 1%;
}

/*lang*/
#language {
    border-radius: 15%;
    border-color: #008080;
}

/*centext*/
#cen-text span {
    color: #9ACD32;
    
}

/*efect cen*/
#cen-text {
    display: flex;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 30px;
    font-weight: bold;
    height: 80vh;
    position: absolute;
    top: 9em;
    left: 0;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 360px;
}

/*imgbackg*/
.img_back {
    top: 12em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img_back img {
    max-width: 100%;
    height: auto;
}

/*a*/
#about h1 {
    color: #9ACD32;
}

#about .container {
    display: flex;
    top: 39em;
}

#about {
    display: flex;
    padding: 40px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 40px;
    font-weight: 400;
}

.about-col-2 p {
    text-align: justify;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

p {
    margin-right: 40px;
}

/*Sk*/
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #9ACD32;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #008080;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*Ser*/
#services h1 {
    color: #9ACD32;
}

#services .container {
    top: 40em;
}

#services {
    padding: 1px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;  
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
    color: #fff
}

.services-list h2 {
    color: #fff;
}

.services-list p {
    color: #fff;
    text-align: justify;
    margin-left: -20px;
    margin-right: -20px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #9ACD32;
    transform: translateY(-10px);
}

/*Val*/
#values h1 {
    color: #9ACD32;
}

#touch {
    display: none;
    color: #9ACD32;
}

#values .container {
    top: 40em;
}

#values {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work h3 {
    color: #fff;
}

.work p {
    font-size: 11px;
    color: #fff;
    text-align: justify;
    margin-left: -20px;
    margin-right: -20px;
}

.work img {
    max-width: 100%; 
    height: 300px;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #9ACD32);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #008080;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #008080;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold; 
    -webkit-text-stroke: 0.5px white; 
    transition: background 0.5s;
}

/*more*/
.btn {
    background: #9ACD32;
}


/*Con*/
#contact h1 {
    color: #9ACD32;
}

#contact .container {
    top: 40em;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #008080;
    margin-right: 15px;
    font-size: 25px;
}

/*Soc*/
.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #008080;
    transform: translateY(-5px);
}


.btn.btn2 {
    display: inline-block;
    background: #9ACD32;
}


.contact-right form {
    width: 100%;
}

/* BN*/
form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/*arr*/
.footer-icon-top {
    display: flex;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 1.7cm;
    bottom: 3em;
}

.footer-icon-top a i {
    color: #008080;
    font-size: 25px;
}

/*cop*/
#copyright .container{
    top: 40em;
}

#copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}

#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: -3em;
}

#copyright i {
    color: #008080;
}
  
/*thx*/
#thanks  {
    display: flex;
    position: absolute;
    bottom: -7.5em;
    right: 40px;
    font-size: 12px;
    margin: 9%;
}

#thanks a {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    filter: invert(1); 
    mix-blend-mode: difference; 
}

/*mobi*/
@media only screen and (max-width: 600px) {
    /*goo*/
    /*bar*/
       nav .fas {
        position: relative;
        display: flex;
        font-size: 25px;
        margin-left: 9cm;
    }

     /*X*/
     nav ul .fas {
        position: relative;
        display: flex;
        font-size: 25px;
        top: -26%;
        right: 145%;
    }

    /* lat*/
    nav ul {
        display: block;
        background: #008080;
        position: fixed;
        top: 0;
        right: -220px;
        width: 200px;
        height: 200vh;
        padding-top: 40px;
        z-index: 2;
    }
      
/* al nav*/
    nav ul li {
        display: block;
        margin: 30px;
        text-align: left;
    }

    #logoimg {
        display: flex;
        top: -1em;
        width: 15%;
        max-width: 100%;
        height: auto;
    }
    
    #textsubwe .prof {
        display: flex;
        position: relative;
        font-size: 15px;
        top: 7em;
        margin-left: 18%;
        max-width: 100%;
        height: auto;
    }
    
    /*m*/
    #icon {
        display: flex;
        width: 5%;
        cursor: pointer;
        position: absolute;
        right: 2cm;
        top: 0.9em;
        height: auto;
}

    /*lang*/
    #mundi .container {
        display: flex;
        position: relative;
        font-size: 14px;
        right: 30%;
        padding-top: -4%;
        max-width: 100%;
        height: auto;
    }
    
    #language {
        display: flex;
        position: relative;
        font-size: 10px;
        height: auto;
    }

    /*img*/
    .img_back {
        display: flex;
        top: 10em;
        max-width: 100%;
        height: auto;
        
      }
    
    /*txt*/  
    #cen-text {
        display: flex;
        margin-left: 18%;
        font-size: 10px;
        top: 21em;
        max-width: 100%;
        height: auto;
        
    }

    /*a*/  
    #about .container {
        display: flex;
        max-width: 100%;
        height: auto;
        top: 10em;
    }

    #about img {
        display: flex;
        max-width: 100%;
        height: auto;
    }

    /*s*/
    #services .container {
        max-width: 100%;
        height: auto;
        top: 8em;
    }

    .services-list div h2 {
        font-size: 23px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    /*vte*/
        #values .container {
        max-width: 100%;
        height: auto;
        top: 5em;
    }

    /*val*/   
    .layer a {
        font-size: 16px;
        border-radius: 50%;
        margin-top: 8px;
        color: #008080;
        text-decoration: none;
        line-height: 33px;
        background: #fff;
        width: 33px;
        height: 33px;
        text-align: center;
    }

    #touch {
        display: flex;
        font-size: 18px;
        display: contents;
        max-width: 100%;
        height: auto;
    }
    
    /*c*/
    #contact .container {
        max-width: 100%;
        height: auto;
        top: 1em;
        max-width: 100%;
        height: auto;
    }

    /*thx*/
    #thanks {
        max-width: 100%;
        height: auto;
        top: 30em;
        right: 3cm;
    }
}

@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) {
    /*XR*/
    /*bar*/
    nav .fas {
        position: relative;
        display: flex;
        font-size: 25px;
        margin-left: 9cm;
        padding: 6px;
    }

    /*X*/
    nav ul .fas {
        position: relative;
        display: flex;
        font-size: 25px;
        top: -21%;
        right: 150%;
    }

    /*mo*/
    #icon {
        display: flex;
        width: 5%;
        cursor: pointer;
        position: absolute;
        right: 3cm;
        top: 2.3%;
        height: auto;
    }

    /*lang*/
    #mundi .container {
        display: flex;
        position: relative;
        font-size: 14px;
        right: 35%;
        padding-top: 0%;
        max-width: 100%;
        height: auto;
    }
    
    #language {
        display: flex;
        position: relative;
        font-size: 10px;
        height: auto;
    }

    /*txt*/  
    #cen-text {
        display: flex;
        margin-left: 18%;
        font-size: 10px;
        top: 20em;
        max-width: 100%;
        height: auto;
    }

    /*thx*/
    #thanks {
        max-width: 100%;
        height: auto;
        top: 30em;
        right: 3cm;
        max-width: 100%;
        height: auto;
    }
}


@media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 2) { 
    /*iphone/6/7/8/p*/

    /*bar*/
    nav .fas {
        position: relative;
        display: flex;
        font-size: 25px;
        margin-left: 10cm;
        padding: 6px;
    }

    /*X*/
    nav ul .fas {
        position: relative;
        display: flex;
        font-size: 25px;
        top: -21%;
        right: 180%;
    }

      /*lang*/
    #mundi .container {
        display: flex;
        position: relative;
        font-size: 14px;
        right: 40%;
        padding-top: 2%;
        max-width: 100%;
        height: auto;
    }
    
    #language {
        display: flex;
        position: relative;
        font-size: 10px;
        height: auto;
    }

    /*txt*/  
    #cen-text {
        display: flex;
        margin-left: 15%;
        font-size: 10px;
        top: 15em;
        max-width: 100%;
        height: auto;
    }  

  }
